main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

.auth-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

.profile-edit h1, .auth-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form .form-group {
    margin-top: 20px;
}

.profile-edit {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    max-width: 200px; /* Максимальная ширина подсказки */
    left: 0; top: 100%; /* Положение подсказки под элементом */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    opacity: 0; /* Подсказка невидима */
    visibility: hidden; /* Подсказка скрыта */
    transition: opacity 0.5s, visibility 0.5s; /* Время появления подсказки */
    white-space: normal; /* Разрешаем перенос текста */
    word-wrap: break-word; /* Перенос длинных слов */
    pointer-events: auto; /* Разрешаем взаимодействие с подсказкой */
    user-select: text; /* Разрешаем выделение текста */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    visibility: visible; /* Подсказка видима */
}

.math-large {
  font-size: 2em;
}

.modal-body {
    text-align: center;
}
