CRON_TZ=Europe/Minsk
30-59/5 7 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
0-59/5 8 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
0-20/5 9 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
45-59/5 10 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
0-59/5 11 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
0-45/5 12 * * 1-5 /usr/local/bin/php /var/www/html/yii update-share-price/update-all
@daily /usr/local/bin/php /var/www/html/yii update-share-price/update-all
