CRON_TZ=-3
*/5 10-16 * * 1-5 /usr/local/bin/php /var/www/html/yii cron-share/update-bcse
*/20 9-17 * * 1-5 /usr/local/bin/php /var/www/html/yii cron-share/update-central-depo
30 * * * * /usr/local/bin/php /var/www/html/yii cron-egr/type-of-activity
35 * * * * /usr/local/bin/php /var/www/html/yii cron-egr/legal-status
40 * * * * /usr/local/bin/php /var/www/html/yii cron-egr/issuer-event
52 15 * * 1-5 /usr/local/bin/php /var/www/html/yii telegram-sender/trading-day
@daily /usr/local/bin/php /var/www/html/yii cron-cleanup/remove
@daily /usr/local/bin/php /var/www/html/yii cron-cleanup/hide

44 11 * * 1-5 /usr/local/bin/php /var/www/html/yii telegram-sender/trading-day
